langchain==0.3.13
langchainhub==0.1.21
langchain_community==0.3.13
langchain_core==0.3.28
langchain_openai==0.2.14
langchain_text_splitters==0.3.4
openai==1.58.1
Requests==2.32.3
SQLAlchemy==2.0.36
streamlit==1.41.1
validators==0.34.0
fastembed==0.4.2
pypdf==5.1.0
duckduckgo_search==7.0.1
