langchain==0.2.9
langchain_community==0.2.7
langchain_core==0.2.21
langchain_openai==0.1.17
langchain_text_splitters==0.2.2
openai==1.35.15
SQLAlchemy==2.0.31
streamlit==1.36.0
duckduckgo-search==6.2.1
pypdf==4.3.0
sentence-transformers==3.0.1
docarray==0.40.0
